* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

.m-menu {
    display: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}

.menu-item {
    margin-right: 25px;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav {
    position: relative;
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
        url('../img/header/bg.jpg') no-repeat center top / cover;
}

.film {
    margin-top: 60px;
}

.film-title-small {
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}

.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 570px;
}

.film {
    display: flex;
    align-items: center;
}

.film-trailer {
    margin: auto;
}

.film-details {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-content: center;
}

.time-icon {
    margin-right: 14px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.raiting-icon {
    margin-right: 14px;
}

.raiting-current {
    font-size: 24px;
    line-height: 150%;
}

.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.session-date-block {
    display: flex;
}

.session-label {
    display: block;
    margin-bottom: 20px;
}

.session-date-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: 0.2s;
}

.session-month {
    font-size: 16рх;
    line-height: 19рх;
}

.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

.session-date-item:hover {
    background-color: #fe8e05;
    color: #621402;
}

.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    padding: 18px;
    margin-top: 15px;
}

.select option {
    color: #000;
}

.select-cinema {
    width: 470px;
}

.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10рх;
}

.seats {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-content: center;
    padding-inline: 5em;
    margin-top: 20px;
}

.seats img {
    width: 2em;
}

.seats .seat {
    width: 1.5em;
    height: 1.5em;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.seat:not(.selected):not(.closed):hover {
    opacity: 0.6;
}

.seat:not(.closed) {
    cursor: pointer;
}

.section-1, .section-2, .section-3 {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.section-1 {
    grid-template: repeat(4, 2.3em) / repeat(19, 2.3em);
    grid-column: 1 / 3;
}

.section-2, .section-3 {
    grid-template: repeat(4, 2.3em) / repeat(10, 2.3em);
    padding-top: 1em;
}

.section-2 {
    margin-right: 1em;
}

.section-3 {
    margin-left: 1em;
}

.cinema-room {
    background: #24242420;
    border-radius: 10px;
    padding: 1.5em;
    margin-top: 62px;
    overflow-x: auto;
    max-width: 1170px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-line {
    background-color: rgb(50, 15, 15);
    border: none;
    height: 0.5em;
    width: 90%;
    margin: 0;
}

.screen-light {
    background: linear-gradient(rgba(255, 255, 255, 0.219), rgba(255, 255, 255, 0));
    clip-path: polygon(20% 0, 80% 0, 85% 100%, 15% 100%);
    width: 100%;
    height: 3.5em;
}

.line {
    opacity: 0.5;
    width: 90%;
}

.seats-legend {
    display: flex;
    margin: 1em 6em 0;
}

.seats-about {
    display: flex;
    align-items: center;
    user-select: none;
}

.seats-about:not(:last-child) {
    margin-right: 1em;
}

.seats-legend img {
    width: 3em;
    padding: 0.5em;
    font-size: 16px;
}

.seats-legend .yellow-legend {
    color: #fe8e05;
}

.fee {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.fee-sum {
    display: flex;
    flex-direction: column;
}

.fee-text-about {
    font-size: 18px;
}

.fee-text-sum {
    font-size: 52px;
}

.fee-text-sum::after {
    content: '₽';
    padding-left: 0.2em;
}

.fee-button button {
    padding: 24px;
    width: 254px;
    height: 70px;
    background-color: #FE8E05;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.fee-button button:hover {
    background-color: #fe8e05c1;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .select-cinema {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 750px;
    }

    .session {
        flex-wrap: wrap;
    }

    .session-date {
        flex-basis: 70%;
    }

    .session-time {
        order: 2;
    }

    .session-cinema {
        margin-top: 40px;
        order: 3;
    }

    .menu-item {
        margin-right: 20px;
    }

    .user {
        border-left: 1px solid #ffffff93;
        padding-left: 5px;
    }
}

@media (max-width: 790px) {
    .container {
        max-width: 560px;
    }

    .menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 20;
        flex-direction: column;
        z-index: 9;
        background: rgba(255, 255, 255, 0.192);
        backdrop-filter: blur(5px);
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20%);
        transition: opacity .4s, transform .4s;
    }

    .menu-item:not(:last-child) {
        padding-bottom: 7px;
    }

    .menu-item a:hover{
        text-decoration: underline;
    }

    .user {
        border: none;
        padding-left: 0;
    }

    .m-menu {
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }

    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .film-description {
        margin-right: 30px;
    }

    .film {
        flex-direction: column;
    }
}